.not-found {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__message {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 7rem;
    margin-bottom: 3.7rem;
    margin-top: 14.9rem;

    @media (max-width: 800px) {
      font-size: 1.6rem;
      margin-top: 10rem;
      margin-bottom: 2rem;
    }

    @media (max-width: 550px) {
      font-size: 1.6rem;
      margin-top: 5rem;
      margin-bottom: 1rem;
    }
  }
}
