$main-background-color: #e5e5e5;
$black: #222222;
$green: #1bda9d;
$orange: #ff8346;
$red: #fe4848;
$burgundy: #e14165;
$violet: #8686ff;
$violet-light: #c2c2ff;
$grey-dark-2: #5c5c5c;
$grey-dark-1: #7d7d7d;
$grey: #999999;
$grey-light: #d1d1d1;
